@import "vars";
@import "global";
@import "fonts";



body{
    background: url(../img/bg.jpeg) no-repeat center center fixed;
    background-size: cover;
}
.popup__btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #a23e1c;
    padding:15px 30px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    font-family: 'montserrat';
    font-weight: 500;
    transition: all 0.8s;
    background-color: #fec41b;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: #a23e1c;
        z-index: -1;
        transition: all 0.8s;
    }
    
}

.popup__btn.btn {
    color: #a23e1c;
    &:hover{
        color: #fec41b;
    }
    &::before{
        bottom: 0;
        border-radius: 50% 50% 0 0;
    }
    &:hover::before{
        height: 180%;
    }
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;

    &__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 10px;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        position: relative;
        background-color: #fff;
        max-width: 745px;
        width: 100%;
        height: 355px;
        padding: 20px;
        transition: all 0.5s ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        
    }

    &__close {
        position: absolute;
        width: 17px;
        height: 17px;
        top: 20px;
        right: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;

    }
    

    &__title {
        max-width: 337px;
        width: 100%;
        position: relative;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 32px;
    }
}


.popup__left{
    width: 230px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;

}
.left__slider{
    margin-top: 20px;

}
.slick__list{
    overflow: hidden;
}
.slick__track{
    display: flex;
    align-items: flex-start;
}
.slick-next:before {
    background-image: url(../img/svg/right-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    color: transparent;
    opacity: 0.5;
}
.slick-prev:before{
    background-image: url(../img/svg/left-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    color: transparent;
    opacity: 0.5;
}

.popup__price{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.form__label {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 21px;
}

.select__label {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 9px;
}


.form__checkboxes {
    margin-bottom: 22px;

    label {
        margin-right: 15px;
        cursor: pointer;
        padding: 12px 22px 13px 18px;
        border: none;
        border: 2px solid $grey;
        border-radius: 7px;
        flex-wrap: wrap;

        
    }
    .inp{
        display: none;
    }
}
.form__checkboxes label.active{
    border: 2px solid $blue;
}
.form__select {
    padding: 10px 0px 10px 10px;
    max-width: 369px;
    width: 100%;
    line-height: 34px;
    border: 1px solid $grey;
    border-radius: 7px;
    margin-bottom: 18px;
}

.form__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &-cheked {
        
        padding-left: 27px;
        font-size: 13px;
        padding-left: 27px;
        background-repeat: no-repeat;
        background-image: url(../img/svg/ok.svg);
        // &::before {
        //     content: '';
        //     width: 15px;
        //     height: 13px;
        //     position: absolute;
        //     background-position: center;
        //     background-size: cover;
        //     top: 0;
        //     left: 0;
        //     background-image: url(../img/svg/ok.svg);
        // }
    }

    &-time {
        position: relative;
        max-width: 210px;
        width: 100%;
        font-size: 13px;
        padding-left: 27px;
        &::before {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            background-image: url(../img/svg/delivery-time-tool.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            top: 5px;
            left: 0;

        }

        .popup__info-link {
            color: $blue;
        }
    }

}

.form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form__counter {
        margin-right: 12px;
        display: flex;
        justify-content: space-between;
        height: 50px;
        max-width: 140px;
        width: 100%;
        border: 1px solid $grey;
        border-radius: 7px;

        input {
            width: 53%;
            text-align: center;
            border: none;
            font-weight: 700;

        }

        button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-size: large;
            // padding: 0;
            color: $text;


            &:first-child {
                margin-left: 12px;
            }

            &:last-child {
                margin-right: 12px;
            }
        }




    }
}

.form__btnAdd {
    cursor: pointer;
    text-align: center;
    max-width: 218px;
    width: 100%;
    height: 50px;
    background-color: $blue;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    &:hover{
        color: #000;
    }
    
}















// media start

@media (max-width: 745px) {
    .popup__content{
        flex-direction: column;
        height: auto;
    }
    .popup__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form__checkboxes{
        display: flex;
        
    }
    .form__info{
        justify-content: flex-start;
    }
    .form__info-cheked{
        margin-right: 24px;
    }
    .form__submit{
        justify-content: flex-start;
    }
    .select__label{
        display: block;
    }
}

@media (max-width: 460px) {
    .popup__right{
        display: block;
    }
    .form__submit{
        justify-content: space-between;
    }
    .form__info{
        justify-content: space-between;
    }
    .form__info-cheked{
        margin-right: 0px;
    }
}

@media (max-width: 440px) {
    .form__checkboxes label{
        margin-right: 5px;
        padding: 12px;
    }
    .popup__title{
        margin-bottom: 18px;
    }
    .popup__body{
        padding: 0;
    }

}

@media (max-width: 363px) {
    .form__checkboxes label{
        font-size: 11px;
        padding: 9px;
        margin-right: 6px;
    }
    .form__btnAdd{
        font-size: 13px;
    }
    .form__info-time{
        padding-left: 25px;
        font-size: 11px;
    }
    .form__info-cheked{
        font-size: 11px;
    }
    
    .popup__left{
        height: 220px;
        
    }
    
    .form__label{
        margin-bottom: 9px;
    }
}



